html, body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #333333;
  position: fixed;
  width: 100%;
  z-index: 2;
}
header img {
  float: left;
}
nav {
  margin: 0;
  padding: 20px 0;
}

nav a {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 14px;
  display:inline-block;
  padding: 4px 4px;
  text-align: center;
  width: 80px;
  margin-left: 70px;
  margin-top: 30px;
  float: left;
  text-decoration:none;
}
nav a:hover{color: #000;background-color: #ccc;}
nav a:active{background-color: #ccc;}

main {
  text-align: center;
  position: relative;
  top: 80px;
}

main h1 {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 70px;
  margin-top: 0px;
  padding-top: 100px;
  margin-bottom: 80px;
  text-transform: uppercase;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

footer p {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 12px;
}
footer .contain {
  margin: 0 auto;
}
.contain h1 {
  max-width: 940px;
  margin: 0 auto;
}
.contain {

  margin: 0 20px;
  padding: 0 10px;
  text-align: center;
 }
.contain .col {
  text-align: center;
  margin: 0 200px;
}

.jumbotron {
  height: 300px;
  background-image: url("./images/Coder.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.jumbotron .contain {
  margin: 0 auto;
}
.supporting {
  padding-top: 80px;
  padding-bottom: 50px;
}
.supporting img {
float: right;
margin: 40px 40px;
}
.supporting .col {
  font-family: 'Raleway', sans-serif;
}
.supporting .col img {
}
.graph {
  font-weight: 400;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  line-height: 20px;
  padding: 0 20px;
  float:left;
  margin-bottom: 120px;
}
ol.l {
  font-weight: 400;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  line-height: 20px;
  padding: 0 20px;
  text-align: justify;
  text-indent: 8px;

}
.supporting h2 {
  font-weight: 600;
  font-size: 23px;
  text-transform: uppercase;
}

.supporting p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding: 0 20px;
  margin-bottom: 20px;
}

.gallery {
    margin-left: 175px;
    border: 1px solid #ccc;
    float: left;
    width: 250px;
}

.gallery:hover {
    border: 1px solid #777;
}

.gallery img {
    width: 100%;
    height: auto;
}

.desc {
    padding: 15px;
    text-align: center;
}
