/* Resetting any values */

html, body {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  background-color: #333333;
  position: fixed;
  width: 100%;
  z-index: 2;
  font-family: 'Raleway', sans-serif;
}

header img {
  float: left;
}

/* These 2 items are small menu icon that stays hidden unless the screen sizes are for mobile devices.  It will then replace the horizontal nav with a small nav from this icon */

#menu-item {
  visibility: hidden;
  width: 40px;
  height: 40px;
  background: #000 url("./images/menu-icon.png") center;
  margin-top: 10px;
  margin-right: 10px;
}

#menu-item a:hover {
  background-color: #ccc;
  border-radius: 4px 4px 0 0;
}

/* The next 3 items line up the navigation menu */

nav {
  float: right;
  display: inline-block;
}

nav ul li {
  display: inline-block;
  list-style-type: none;
  padding: 20px;
  margin-right: 10px;
}

nav a {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 14px;
  text-decoration: none;
  padding: 4px 4px;
}

/* Makes the color behind the nav item change when hovered and active */

nav a:hover {
  color: #000;
  background-color: #ccc;
}

nav a:active {
  background-color: #ccc;
}

/* Makes the nav item underlined and bigger when on that page */

.current {
  font-size: 18px;
  text-decoration: underline;
}

/* makes a jumbo image below the navigation for stylizing purposes */

#jumbotron {
  position: relative;
  height: 250px;
  background-image: url("./images/Coder.jpg");
  background-position: center center;
  width: 100%;
  text-align: center;
  display: block;
}

/* used this item to better align the heading on top of the jumbotron */

#theading {
  padding-top: 110px;
}

/* stylizing the headings with next 2 items */

h1 {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 50px;
  text-transform: uppercase;
  margin: 0px 250px 0px 250px;
  padding-top: 20px;
}

h2 {
  font-weight: 600;
  font-size: 23px;
  text-transform: uppercase;
}

/* used the supporting class for most main sections of pages to assure alignment */

.supporting {
  font-family: 'Raleway', sans-serif;
  margin-left: 10px;
}

.supporting p {
  width: 70%;
}

p {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

/* used the dl and checklist items on index page to better line up instruction steps I was providing */

dl {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

#checklist {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

/* used this on the projects page to help align the architecture diagram to be responsive */

.responsive {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

/* used a grid system to better align the photos on the gallery page and put them in columns and rows where needed.  The next 6 items are part of it */

.gallerycontain {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  margin-bottom: 80px;
}

#desc {
  font-family: 'Raleway', sans-serif;
}

#gallery1 {
  grid-column-start: 1;
  grid-row-start: 1;
}

#gallery2 {
  grid-column-start: 1;
  grid-row-start: 2;
}

#gallery3 {
  grid-column-start: 2;
  grid-row-start: 1;
}

#gallery4 {
  grid-column-start: 2;
  grid-row-start: 2;
}

/* footer stylizing */

footer {
  background-color: #333;
  color: #fff;
  padding: 5px 0;
  bottom: 0;
  left: 0;
  width: 100%;
  flex: 0 0 50px;
  margin-top: auto;
}

#footerid {
  text-align: center;
}
/* Setup Biography table for the About page elements */

#backgroundimage {
  height: 180px;
  background-image: url("./images/Coder.jpg");
  background-position: center center;
  background-color: #ccc;
  opacity: 0.4;
  background-size: 100% 100%;
  width: 100%;
}

#backgroundimage p {
  font-size: 72px;
  font-weight: 500px;
  text-align: center;
  color: #000
}

#jobrole p {
  font-size: 20px;
  font-weight: 500px;
  text-align: center;
  text-transform: uppercase;
}

/*MEDIA QUERY larger tablet screens*/

@media screen and (max-width: 604px) {
  header {
    width: 100%;
  }
  #menu-item {
    display: inline-block;
    visibility: visible;
  }
  #jumbotron {
    width: 100%;
  }
  nav ul, nav:active ul {
    display: none;
    position: absolute;
    padding: 10px;
    background: #fff;
    border: 3px solid #444;
    align-items: center;
    right: 1px;
    top: 60px;
    width: 20%;
    border-radius: 4px 0 4px 4px;
  }
  nav li {
    text-align: center;
    width: 100%;
    padding: 10px 0;
    margin: 0;
    color: #000;
  }
  nav ul li {
    padding: 5px;
    width: 100px;
    display: block;
  }
  nav:hover ul {
    display: block;
  }
  nav a {
    color: #000;
  }
  h1 {
    margin: auto;
    padding-top: 0px;
  }
  .gallerycontain {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  #gallery1 #gallery2 #gallery3 #gallery4 {
    display: block;
  }
  /*smaller phone screens */
  @media screen and (max-width: 375px) {
    header {
      width: 375px;
    }
    #menu-item {
      display: inline-block;
      visibility: visible;
    }
    #jumbotron {
      width: 100%;
    }
    nav ul, nav:active ul {
      display: none;
      position: absolute;
      padding: 5px;
      background: #fff;
      border: 5px solid #444;
      right: 1px;
      top: 60px;
      width: 30%;
      border-radius: 4px 0 4px 4px;
    }
    nav li {
      text-align: center;
      width: 100%;
      padding: 10px 0;
      margin: 0;
      color: #000;
    }
    nav ul li {
      padding: 5px;
      width: 100px;
    }
    nav:hover ul {
      display: block;
    }
    nav a {
      color: #000;
    }
    h1 {
      margin: auto;
      padding-top: 0px;
    }
    #theading {
      padding-top: 80px;
    }
    .gallerycontain {
      display: block;
      grid-template-columns: none;
      margin-left: auto;
      margin-right: auto;
      width: 375px;
    }
    #gallery1 img {
      width: 375px;
    }
    #gallery2 img {
      width: 375px;
    }
    #gallery3 img {
      width: 375px;
    }
    #gallery4 img {
      width: 375px;
    }
    #backgroundimage {
      visibility: collapse;
      background-size: 100% 100%;
    }
    footer {
      width: 375px;
    }
