html, body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #333333;
  position: fixed;
  width: 100%;
  z-index: 2;
}

header img {
  float: left;
}

nav {
  margin: 0;
  padding: 20px 0;
}

nav a {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 14px;
  display: inline-block;
  padding: 4px 4px;
  text-align: center;
  width: 80px;
  margin-left: 70px;
  margin-top: 30px;
  float: left;
  text-decoration: none;
}

nav a:hover {
  color: #000;
  background-color: #ccc;
}

nav a:active {
  background-color: #ccc;
}

dl {
  grid-column-start: 2;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding: 0 20px;
  text-align: justify;
  margin-bottom: 100px;
}

.jumbotron {
  position: relative;
  height: 250px;
  background-image: url("./images/Coder.jpg");
  background-size: cover;
}

main {
  display: block;
  text-align: center;
  position: relative;
  top: 80px;
}

main h1 {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 70px;
  padding-top: 75px;
  text-transform: uppercase;
  margin: 0px 250px 80px 250px;
}

/*.contain h1 {
  max-width: 840px;
  margin: 0 auto;
  grid-column-start: 2;
}
/*.contain {
  display: grid;
  grid-template-columns: 1fr 940px 1fr;
  padding: 0 10px;
  text-align: justify;
 }
/*.contain .col {
  grid-column-start: 2;
}*/

dd {
  margin-bottom: 10px;
}

.supporting {
  display: grid;
  font-family: 'Raleway', sans-serif;
  margin-top: 75px;
  margin-bottom: 75px;
  grid-template-columns: 1fr 940px 1fr;
  grid-column-start: 2;
  padding: 0 10px;
  text-align: justify;
}

/*.supporting .col {
  font-family: 'Raleway', sans-serif;
}*/

.h2 {
  font-weight: 600;
  font-size: 23px;
  text-transform: uppercase;
  grid-column-start: 2;
}

.h3 {
  grid-column-start: 2;
}

.supporting p {
  grid-column-start: 2;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding: 0 20px;
  margin-bottom: 20px;
}

.supporting img {
  grid-column-start: 2;
}

.gallerycontain {
  display: grid;
  grid-template-columns: 1fr 940px 1fr;
  position: absolute;
}

.gallery {
  display: grid;
  grid-template-rows: repeat(4, 60px);
  border: 1px solid #ccc;
  width: 200px;
  justify-content: space-evenly;
}

.gallery .desc {
  margin-top: 115px;
}

.gallery:hover {
  border: 1px solid #777;
}

.gallery img {
  width: 100%;
  height: auto;
}

.desc {
  padding: 15px;
  text-align: center;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

footer p {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  grid-column-start: 2;
}

footer .contain {
  text-align: center;
}

@media screen and (max-width: 667px) {
  nav a {
    text-align: left;
    width: 100%;
    display: block;
    float: none;
    margin-top: 10px;
    margin-left: 125px;
  }
  .supporting {
    width: 100%;
  }
  .main {
    width: 100%;
  }
  main h1 {
    font-size: 20px;
    width: 100%;
  }
}

@media screen and (max-width: 992px) {
  .supporting {
    width: 50%;
  }
  .main {
    width: 50%;
  }
  main h1 {
    font-size: 20px;
    width: 100%;
    margin-top: 100px;
    padding-top: 25px;
  }
}
